<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376279425097-38drncqqq4tfah61dk3qklj54aj71v19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376279425097-38drncqqq4tfah61dk3qklj54aj71v19</string>
	<key>API_KEY</key>
	<string>AIzaSyDdHZml9APNA8DThWMzjkeBqdhOY7mSpOE</string>
	<key>GCM_SENDER_ID</key>
	<string>376279425097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busTrialV1</string>
	<key>PROJECT_ID</key>
	<string>barcodefee-f4c9d</string>
	<key>STORAGE_BUCKET</key>
	<string>barcodefee-f4c9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376279425097:ios:42ee46335d0755a5b91f98</string>
	<key>DATABASE_URL</key>
	<string>https://barcodefee-f4c9d-default-rtdb.firebaseio.com</string>
</dict>
</plist>